.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border: solid #0B2545;
    box-sizing: border-box;
}

.nav-item {
    padding: 0em 1em;
    height: 3em;
    font-size: 1em;
    line-height: 3em;
    border-radius: 25px;
    background-color: #EEF4ED;
}

.nav-item a:link {
    text-decoration: none;
    color: #0B2545;
}

.nav-item a:visited {
    text-decoration: none;
    color: #0B2545;
}

.nav-item a:active {
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: none;
    color: #134074;
}

.logo {
    width: 90px;
}

footer {
    display: flex;
    padding: 10px 5px;
    background-color: #8DA9C4;
    color: #0B2545;
    position: absolute;
    width: 100%;
    bottom: 0;
    border: solid;
    box-sizing: border-box;
}